// src/css/quasar.variables.scss

$primary: #dd7878;
$secondary: #179299;
$accent: #7287fd;

$dark: #1e1e2e;
$dark-page: #121212;

$positive: #40a02b;
$negative: #d20f39;
$info: #1e66f5;
$warning: #df8e1d;
